<div class="mx-auto w-75 mt-5">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Ajouter un produit</h1>
        </div>
        <div class="card-body">
            <form (ngSubmit)="onSubmit()">
                <label for="category">Category : </label>
                <select name="category" [(ngModel)]="product.category.id" class="form-control">
                    <option *ngFor="let item of categories" [ngValue]="item.id">{{item.name}}</option>
                </select>
                <label for="name">Nom : </label>
                <input type="text" id="name" name="name" class="form-control" required [(ngModel)]="product.name">
                <label for="description">Description : </label>
                <textarea id="description" name="description" class="form-control" required
                    [(ngModel)]="product.description"></textarea>
                <label for="picture">URL de l'image : </label>
                <input type="text" id="picture" name="picture" class="form-control" [(ngModel)]="product.picture">
                <label for="status"> Disponibilité : </label>
                <input type="text" id="status" name="status" class="form-control" [(ngModel)]="product.status">
                <label for="stock">En stock : </label>
                <input type="number" id="stock" name="stock" class="form-control" [(ngModel)]="product.stock">
                <label for="price">Prix : </label>
                <input type="number" id="prix" name="prix" class="form-control" [(ngModel)]="product.price">
                <button type="submit" class="btn btn-primary">Valider</button>
            </form>
        </div>
