

<div class="mx-auto w-75 mt-5">
    <div class="card">
        <div class="card-body">
            <form (ngSubmit)="onSubmit()">

                <div class="mb-3">
                    <label for="email" class="form-label">Selectionnez une catégorie</label>
                    
                    <select class="form-control" name="category" [(ngModel)]="selectedCategory">
                        <option *ngFor="let item of categories" [ngValue]="item">{{item.name}}</option>
                    </select>
                </div>
                
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
 
        </div>

    </div>
</div>
<app-result-by-category [products]="products"></app-result-by-category>