<button class="btn btn-outline-primary btn-sm mt-2" routerLink="add">Ajouter un produit</button>
<section style="background-color: #eee;" *ngFor="let item of products?.content">
    <div class="container py-5">
      <div class="row justify-content-center mb-3">
        <div class="col-md-12 col-xl-10">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                  <div class="bg-image hover-zoom ripple rounded ripple-surface">
                    <img src="{{item.picture}}" class="w-100" />
                    <a href="#!">
                      <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <h5>{{item.name}}</h5>
                  <div class="d-flex flex-row">
                    <div class="text-danger mb-1 me-2">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <span>nombre de votes {{item.score}}</span>
                  </div>
                  <div class="mt-1 mb-0 text-muted small">
                    <span *ngFor="let item of categories"> categoies</span>
                    <span class="text-primary"> • </span>
                  </div>
                  <p class="text-truncate mb-4 mb-md-0">
                    {{item.description}}
                  </p>
                </div>
                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                  <div class="d-flex flex-row align-items-center mb-1">
                    <h4 class="mb-1 me-1">{{item.price}} €</h4>
                    <span class="text-danger"><s>$20.99</s></span>
                  </div>
                  <h6 class="text-success">Livraison gratuite</h6>
                  <div class="d-flex flex-column mt-4">
                    <button [routerLink]="['/product', item?.id]" class="btn btn-primary btn-sm" type="button">Détails du
                      produit</button>
  
  
  
                    <button class="btn btn-outline-primary btn-sm mt-2" type="button">
                      Ajouter au panier
                    </button>
                    <button routerLink="/admin/products/edit/{{item.id}}" class="btn btn-outline-primary btn-sm mt-2">Modifier produit</button>
                    <button (click)="delete(item.id)"class="btn btn-outline-primary btn-sm mt-2">Supprimer produit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <label for="pageSize">Items per page</label>
    <select id="pageSize" [(ngModel)]="pageSize" (change)="fetchProducts()">
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="25">25</option>
    </select>
  
    <select [(ngModel)]="page" (change)="fetchProducts()">
      <option *ngFor="let item of [].constructor(products?.totalPages); let index=index" [value]="index">{{index+1}}
      </option>
    </select>
  </section>
  
  <nav aria-label="Page navigation example"name="page" ngDefaultControl [(ngModel)]="page" (change)="fetchProducts()">
    <ul class="pagination justify-content-center">
      <li class="page-item ">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Précédant</a>
        <button class="page-link" [disabled]="products?.first" (click)="previousPage()">Précédant</button>
  
      </li>
      <li class="page-item"><a class="page-link" href="#"
          *ngFor="let item of [].constructor(products?.totalPages); let index=index">{{index+1}}</a></li>
      <li class="page-item">
        <button class="page-link" [disabled]="products?.last" (click)="nextPage()">Suivant</button>
  
      </li>
    </ul>
  </nav>
