<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/']">Playtech</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link" [routerLink]="['/']">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/category']">Categories</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/cart']">Panier </a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0" (ngSubmit)="search()">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" aria-label="Small" id="label" name="label" [(ngModel)]="label" aria-describedby="inputGroup-sizing-sm" placeholder="Rechercher un produit...">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-secondary btn-number">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <a class="btn btn-success btn-sm ml-3" [routerLink]="['/cart']">
                    <i class="fa fa-shopping-cart"></i> Panier
                </a>
                <a class="btn btn-success btn-sm ml-3" [routerLink]="['/login']">
                    <i class="fa "></i> Se connecter
                </a>
            </form>
        </div>
    </div>
</nav>
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">PLAYTECH</h1>
    </div>
</section>